:root {
  --green: #31c48d;
  --dark-green: #27ae80;
  --red: #ff4d4f;
  --violet: #5a4bff;
  --grey: #555;
  --white: #ffffff;
  --bg: #f9f9fb;
  --text: #1d1d1f;
}

body {
  font-family: system-ui, sans-serif;
  background: var(--bg);
  margin: 0;
  padding: 0;
  color: var(--text);
}

.container {
  max-width: 50rem;
  margin: 2.5rem auto;
  text-align: center;
  padding: 0 1rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.logo .dot {
  height: 0.5rem;
  width: 0.5rem;
  background-color: var(--green);
  border-radius: 50%;
  display: inline-block;
  margin: 0 0.25rem;
}

.icon {
  font-size: 3rem;
  color: var(--green);
}

.status-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.incident-history {
  font-size: 0.9rem;
  color: var(--grey);
  text-decoration: underline;
  cursor: pointer;
}

.live-status {
  margin-top: 2.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 1.25rem;
  font-size: 0.9rem;
  width: 100%;
}

.error-box {
  color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
  font-weight: 900;
}

.service-box {
  background: var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  width: calc(100% - 2rem);
}

.service-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status-icon {
  display: none;
  color: var(--green);
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.service-name {
  font-weight: bold;
}

.status-label {
  font-size: 0.9rem;
}

.status-label strong {
  display: none;
}

.up {
  color: var(--green);
}

.down {
  color: var(--red);
}

.uptime-bars {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.0625rem;
  flex-wrap: wrap;
}

.bar {
  height: 1rem;
  width: 0.25rem;
  background-color: var(--green);
  border-radius: 0.125rem;
}

.bar.ok {
  background-color: var(--green);
}

.bar.fail {
  background-color: var(--red);
}

.description {
  font-size: 1rem;
  color: var(--grey);
  margin-bottom: 1.25rem;
}

.home-link {
  text-decoration: none;
  background: var(--green);
  color: var(--white);
  padding: 0.625rem 1.25rem;
  border-radius: 0.375rem;
  font-weight: bold;
  transition: background 0.3s ease;
  display: inline-block;
}

.home-link:hover {
  background: var(--dark-green);
}

@media screen and (min-width: 768px) {
  .status-icon {
    display: unset;
  }

  .status-label strong {
    display: unset;
    margin-left: 0.5rem;
  }

  .uptime-bars {
    gap: 0.125rem;
  }
  .bar {
    width: 0.375rem;
  }
}
