<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="static/images/logo.webp" type="image/x-icon" />
    <title>CG Signal - About</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="logo">C<span class="dot"></span>G</div>

      <div class="icon">🤷‍♂️</div>
      <div class="status-text">About</div>
      <div class="description">
        TODO for later: add some description about this website.
      </div>
    </div>
  </body>
</html>
